.movie-info-container {
    background-color: #232323;
    height: 60vh;

}
.movie-info {
    display: flex;
    background-color: #232323;
    height: 50vh;
}

.img-container {
    width: 25%;
    text-align: center;
}

.movie-img {
    height: 100%;
    width: 80%;
    object-fit: contain;
}

.info-container {
    width: 70%;
    color: #FFFFFF;
}

.year-runtime-container {
    display: flex;
    width: 15%;
    justify-content: space-between;
    color: #F65261;
}