.modal-form-buttons{
    float: right;
    margin-right: 20px;
}

.select-genre-container {
    cursor: pointer;
    position: relative;
}

.select-genre-options {
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.display-none {
    display: none;
}

.display-grid {
    display: grid;
  }

  .select-genre-icon {
      float: right;
      padding-right: 5px;
  }

.movie-form {
    height: fit-content;
    margin: 20px;
}

.form-group button {
    background-color: #F65261;
    cursor: pointer;
    float: right;
    padding:0.35em 1.2em;
    border-radius: 0.12em;
    color: #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    border: 1px solid #424242;

}