.movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
    padding: 2px 16px;
    color: white;
}

.card-img {
    height: 250px;
    width: 200px;
}

.card-content > div {
    display: flex;
    justify-content: space-between;
}

.card-year {
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

.card-genre {
    margin: 0;
}

.movie-card {
    text-align: center;
    width: max-content;
    border: 1px soild white;
}
