.navbar {
    display: flex;
    margin: 10px;
    padding: 20px;
    justify-content: space-between;
}

.navbar-btn {
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    color: #F65261;
}

.navbar-btn:hover {
    color:#000000;
    background-color: #555555;
} 

.navbar-title{
    color: #F65261;
}
