.navbar {
    display: flex;
    /* padding: 20px; */
    justify-content: space-between;
    padding: 20px;
}

.navbar_btn {
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    color: #F65261;
    border: 1px solid black;
    padding: 10px;
}

.navbar_btn:hover {
    color:#000000;
    background-color: #555555;
} 

.navbar_title{
    color: #F65261;
    margin: 0;
}
